[*.cs]

# CS0618: 类型或成员已过时
dotnet_diagnostic.CS0618.severity = silent

# IDE0047: 删除不必要的括号
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity

# IDE0047: 删除不必要的括号
dotnet_diagnostic.IDE0047.severity = none
